{% extends "base.html"%}
{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='flex flex-col m-5 items-center justify-center h-screen '>
        <div class='text-3xl font-bold'>
            You have been Logged Out. Thanks for visiting!
        </div>
        <div class='flex flex-row'>
            <div class='xl'>
                <a class='text-emerald-400 p-2' href='/login'>Login Again?</a>
            </div>
            <div class='xl'>
                <a class='text-emerald-400 p-2' href='/'>Go To homepage?</a>
            </div>
        </div>
    </div>
{% endblock content%}